@font-face {
    font-family: 'RifficFree-Bold';
    src: url('../fonts/RifficFree-Bold.ttf') format('truetype');
}



body {
    font-family: 'RifficFree-Bold', Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.body{
	
	background-image: url("../img/background1.png"); 
	
	
	
}


.body1{
	
	/*background-image: url("../img/background1.png"); */
   background: linear-gradient(to bottom, #1b1f4a, black);
	
	
	
}

nav .menu{
	margin-top:1%;
	
	
}
.logo img{
	width: 25%;
	height:auto;
	
}

.logo{
	
	margin-top:2%;
	margin-left:43%;
	
	
}

.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.perfil-item {
  text-align: center;  
  margin: -20px;  
}

.perfil a {
  display: block; 
  text-decoration: none;
  color: #dadada;
}

.perfil-item p{
	
	color: #dadada;
	
}
.titulo p{
	font-size: 40px;
	margin-top:5%;
	margin-bottom:5%;
	margin-left:36%;
	color:#ab1931;
	
	
}
.perfil img {
  width:70%;
  border-radius: 50%;
  border: 5px solid transparent;
  transition: border-color 0.3s ease;
}

.perfil img:hover {
  border-color: #ab1931;
}

.perfil p {
  font-size: 24px;
  margin-top: 10px;
}


button { /*botao index editar perfil */
  margin-top: 10px;
  padding: 8px 20px;
  font-size: 16px;
  background-color: #ab1931;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
   align-items: center;
   font-family: RifficFree-Bold;
   margin-top:3%;
   margin-left:45.5%;
}

button:hover {
  background-color: #b83248;
}



/* perfis */


 
.header {
 background-image: url("../img/backgroundheader.png"); 
  padding: 10px;  
  display: flex;  
  justify-content: space-between;  
  align-items: center;
   
}

 
.perfil1 img {
  border-radius: 50%;  
  width: 80px; 
  height: 80px;  
  border: 2px solid #ab1931;  
  transition: border-color 0.3s ease;  
}


.perfil1 img:hover {
  border-color: #ab1931;  
}

 
.menu {
  list-style: none;
  padding: 0;
  display: flex;
  font-size: 20px;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  position: relative;
  color: #dadada;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu li a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #ab1931;
}
 .logo1 img{
	 
	 width:40%;
	 height:auto;
 }
	
 .hamburguer-icon{
	 color:#171a3c;
	 
	 
 }
 
.menu-perfil {
	background-image: url("../img/backgroundmenu.png"); 
	width: 10%;
	height: auto;
  display: none;  
  position: absolute;
  top:  106px;  
  right: 15px;  
  background-color: #ab1931;
  padding:  5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);  
  z-index: 9999;  
}

.menu-perfil ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.perfil-1{
	margin-top:15%;
	margin-right:10%;
	float: right;
	
	
}


.perfil-1-1{
	margin-top:15%;
	margin-right:25%;
	float: right;
	
	
}


.menu-perfil li {
  margin-bottom: 15px;
margin-left:10px;
 
}

.menu-perfil a {
  text-decoration: none;
  color: #ffffff;
}


.menu-perfil img{
	border-radius: 50%;  
	width:35%;
	height:auto;
	margin-right:5%;
	  
	
	
}

.menu-perfil li{
	 margin-left:;
	
	
}

 body,
.carousel,
.v-item {
  margin: 0;
  padding: 0;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 600px;  
 
  overflow: hidden;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  animation: carousel-animation 20s infinite;  
}

.v-item {
  flex: 0 0 100%;
  position: relative;
}

.v-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.v-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #ab1931;
  font-size: 40px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  
}

.v-info p{
	font-size:20px;
	color: #fff;
	
	
}

@keyframes carousel-animation {
  0%, 100% {
    transform: translateX(0);
  }
  33.333% {
    transform: translateX(-100%);
  }
  66.666% {
    transform: translateX(-200%);
  }
}




 .botao-detalhes {
  background-color: #ab1931;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left:1%;
}

.botao-detalhes:hover {
  background-color: #d62c49;
}



/* Estilos do popup */
#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup-content img {
  max-width: 100%;
  height: auto;
}

 
#popUp {
      display: none;
      position: fixed;
	   
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 9999;
    }

    .popUp-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      text-align: center;
    }
 
     
    .prometheus .popUp-content {
      background-image: url("../img/backgroundprometheus.png");
	   margin-top:1%;
    }

    
    .viuvanegra .popUp-content {
      background-image: url("../img/backgroundblackwidow.png");
	  margin-top:1%;
	  
    }

     
    .aorigem .popUp-content {
      background-image: url("../img/backgroundaorigem.png");
	   margin-top:1%;
    }

   
  .fechar-btn {
	  color:#dadada;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  
 #tituloPopUp{
	 
	 font-size: 40px;
	 margin-top:50%;
	 color:#ab1931;
	 margin-bottom:2%;
	 
	 
 }
 
 #sinopsePopUp{
	 
	 color:#dadada;
	 font-size:23px;
	 
 }
 
 
  
 
 #elencoPopUp{
	 margin-top:3%;
	 color:#dadada;
	 font-size:15px;
	 
	 
 }
 
  .popUp-content button {
    display: block;
    margin: 20px auto;
    color: #dadada;
	width: 150px;
	height:50px;
	font-size:25px;
  }
  
  
   .popUp-content  a{
	    color: #dadada;
	   
	   
   }
   
   
   
 .titulo-1{
	color:#dadada;
	font-size: 35px;
	margin-left:12%;
 margin-top:2%;
 
 }
 
 
 
 
 	 
  .assistindo {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

 
 


.film-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;  
   
  scrollbar-width: thin;
  scrollbar-color: #ab1931 #f0f0f0;
}

 
.film-container::-webkit-scrollbar {
  width: 6px;
}

.film-container::-webkit-scrollbar-thumb {
  background-color: #ab1931;
  border-radius: 6px;
}

.film {
  scroll-snap-align: start;  
  margin: 0 10px;
  text-align: center;
  flex: 0 0 auto;  
}

.film img {
  width: 200px;
  height: 300px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

.film img:hover {
  border-color: #ab1931;
}

.film p {
  margin-top: 10px;
  font-size: 15px;
  color: #dadada;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #1b1f4b;
  color: #fff;
}

.footer img {
  width: 30px;  
  height: 30px;  
  margin-right: 10px;  
}

.footerlogo {
  margin-left: auto;  
}

.footerlogo img {
  width: 120px;
  height: auto;
}


 

.artistas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom:5%;
  margin-left:17%;
  
}

.artistas a{
	margin-left:-10%;
	
	
}

.artistas img {
 
  width: 60%; 
  height: auto; 
  border: 2px solid transparent;
  border-radius:  ;
  transition: border-color 0.3s, transform 0.3s;
}

.artistas img:hover {
  
  transform: scale(1.1);  
}


 
::-webkit-scrollbar {
  width: 10px;  
}

::-webkit-scrollbar-thumb {
  background-color: #ab1931;  
  border-radius: ;  
}

 
* {
  scrollbar-color: #ab1931; 
  scrollbar-width: thin;  
  
}
  
  
  
  
@media only screen and (min-width:150px) and (max-width:600px)
{
	
* {
			margin: 0px;
			padding: 0px;
		}


.artistas img{
	width:70%;
	height:auto;
	 
	
	
	
}


.artistas a{
	margin-left:-10%;
	
	
}
 /* index */
.logo img { /*logo index*/
  width: 90%;
  height: auto;
  margin-top: 7%;
  margin-left: 2%;  
}



.logo1 img {
  width: 60%;
  height: auto;
  margin-top: 10%;
  margin-left: 35%;  
  margin-bottom:10%;
}

.perfil img {
  width: 50%;
  height: auto;
  margin-top:15%;
}

 
.titulo p { /* titulo index */
  font-size: 40px;
  margin-left: 23%;
  margin-top: 15px; 
}

 
.logo,
.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;  
}

/ 
.container {
  display: flex;
}

 
.texto {
  margin-top: 10px;
}

 
.texto p {
  text-align: center;
}

.perfil p{
	margin-bottom:3%;
	 
	
	
}

 button{
	
	margin-top:12%;
	margin-left:30%; 
margin-bottom:5%;	
	
}

/*index acaba aqui */

body {
  margin: 0;
  padding: 0;
}

 
.assistindo {
  max-width: 100%;
width: 100%;
    margin: 0;
    padding: 0;}

.hamburguer-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
    color: #ab1931;
	margin-left:-1090%;
	 
  }

  .menu {
    display: none;
    position: absolute;
    top: 90px;
    left: 10px;
    background-color: #171a3a;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
	margin-top:7%;
	z-index: 9999;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menu li:last-child {
    margin-bottom: 0;
  }

  .hamburguer-menu.active .menu {
    display: flex;
    flex-direction: column;
  }
.titulo-1{
	
font-size:25px;
margin-top:2%;
margin-bottom:2%;
margin-left:2%;
	
	
	
}

 
 
 
 
 
 
 
 .menu-perfil {
	background-image: url("../img/backgroundmenu.png"); 
	width: 50%;
	height: auto;
  display: none;  
  position: absolute;
  top:  106px;  
  right: 15px;  
  background-color: #ab1931;
  padding:  5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);  
  z-index: 9999;  
}

.menu-perfil ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.perfil-1{
	margin-top:15%;
	margin-right:12%;
	float: right;
	
	
}


.perfil-1-1{
	margin-top:15%;
	margin-right:25%;
	float: right;
	
	
}


.menu-perfil li {
  margin-bottom: 15px;
margin-left:10px;
 
}

.menu-perfil a {
  text-decoration: none;
  color: #ffffff;
}


.menu-perfil img{
	border-radius: 50%;  
	width:35%;
	height:auto;
	margin-right:5%;
	  
	
	
}

.menu-perfil li{
	 margin-left:;
	
	
}
 
footer{
	margin-top:3%;
	
	
}




.popup-content {
  position: absolute;
  top: 400%;
  left: 0%;
   margin-left: 33%;
    
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  
}


#popUp {
      display: none;
      position: fixed;
	   
      top: 0;
      left: 0;
      width: 150%;
      height: 100;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 9999;
    }


#sinopsePopUp{
	
	font-size:20px;
}






 
 }