@font-face {
    font-family: 'RifficFree-Bold';
    src: url('../fonts/RifficFree-Bold.ttf') format('truetype');
}



body {
  font-family: 'RifficFree-Bold', Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #1b1f4a, black);


}

 .titulo-1-1{
	 margin-top:-35%;
	 margin-left:5%;
	 
	 
 }

.menu1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -32%;
  margin-left:160%;
  font-size:25px;
    
   z-index:2;
}

.genero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181c3f;
  color: #dadada;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
    border: 1px solid #ab1931;
}

.genero:hover {
  background-color: #ab1931;
}

.seta {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #fff;
  margin-left: 5px;
}

.menu1 {
  list-style: none;
  padding: 0;
  margin: 3.5%;
  display: none;
  position: absolute;
  z-index: 9999;
width:9.3%;  
margin-bottom:2%;
   width:100%;
   margin-top:38%;
}


.menu1.active {
  display: block;
}

.menu1 li {
  background-color: #181c3f;
  
}

.menu1 li a {
	
  color: #dadada;
  text-decoration: none;
  padding: 7px 15px;
  display: block;
  
}

.menu1 li a:hover {
  background-color: #ab1931;
}


.menu-generos{
	padding-top:5%;
	position: absolute;
	z-index:999;
	
}





.video-container {
    position: relative;
    width: 100%;
    height: 80%;
    overflow: hidden;
	
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0; 
}

.texto-sobre-video {
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;  
    color: #fff; 
    font-size: 24px;
    font-weight: bold;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);  
text-align: left;
}



.audio-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background-color:;
  border-radius: 50%;
  cursor: pointer;
  margin-left:95%;
  margin-bottom:3%;
   
  z-index: 3;  
  background-image: url("../img/iconeaudio.png");
  background-size: cover;
}

nav .menu{
	margin-top:1%;
	
	
}
  
@media only screen and (min-width:150px) and (max-width:600px)
{
	
* {
			margin: 0px;
			padding: 0px;
		}
		
		
		.menu1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3.2%;
  margin-left:5%;
		font-size:20px;
		
		margin-top:-13%;
}

.titulo-1-1{
	margin-left:2%;
	margin-top:5%;
	
	
}













}